@keyframes efecto-pulsar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes efecto-alumbrar {
  0% {
    -moz-box-shadow: 0px 0px 25px #9D2449;
    -webkit-box-shadow: 0px 0px 25px #9D2449;
    box-shadow: 0px 0px 25px #9D2449;
  }
  50% {    
    -moz-box-shadow: 0px 0px 10px #9D2449;
    -webkit-box-shadow: 0px 0px 10px #9D2449;
    box-shadow: 0px 0px 10px #9D2449;
  }
  100% {
    -moz-box-shadow: 0px 0px 22px #9D2449;
    -webkit-box-shadow: 0px 0px 22px #9D2449;
    box-shadow: 0px 0px 22px #9D2449;
  }
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform:scaleY(1) scaleX(1);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes fadeOut {
  0% {
    background:rgba(0,0,0,.7);
  }
  100% {
    background:rgba(0,0,0,.0);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}

@keyframes scaleDown {
  0% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
  100% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
}

@keyframes scaleBack {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(.85);
  }
}

@keyframes scaleForward {
  0% {
    transform:scale(0.5);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes quickScaleDown {
  0% {
    transform:scale(1);
  }
  99.9% {
    transform:scale(1);
  }
  100% {
    transform:scale(0);
  }
}

@keyframes slideUpLarge {
  0% {
    transform:translateY(0%);
  }
  100% {
    transform:translateY(-100%);
  }
}

@keyframes slideDownLarge {
  0% {
    transform:translateY(-100%);
  }
  100% {
    transform:translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    transform:translateY(150px);
  }
  100% {
    transform:translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform:translateY(0px);
  }
  100% {
    transform:translateY(150px);
  }
}


html { 
  scrollbar-color: #525965 #525965;
  scrollbar-width: thin;
}

.input-alumbrar{
  animation: efecto-alumbrar 1.5s infinite;
}

.form-mostrar{
  animation: unfoldIn 0.5s;
}

.contenido-mostrar{
  animation: zoomIn 0.5s;
}

.counter-mostrar{
  animation: slideDownLarge 0.8s;
}

.navegacion-mostrar{
  animation: unfoldIn 0.5s;
}

.pulsar {
  display: inline-block;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.pulsar:after {
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: efecto-pulsar 1.5s infinite;
}

.en-construccion{
  background-image: url('../img/en_construccion.jpg');
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.loader-background {
  position: fixed;
  z-index: 100;
  display: block;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.8;
}

.loader {
  height: 30px;
  width: 550px;
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 30px;
  width: 30px;
  left: 20%;
  border-radius: 100%;
  background-color: transparent;
  position: absolute;
  border: 1px solid white;
}

.loader--dot:first-child {
  background-color: #9D2449;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #BF2C59;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #B38E5D;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #DEB16A;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #1F5246;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #13322B;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Cargando";
  font-weight: bold;
  color: white;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Cargando";
  }
  25% {
    content: "Cargando.";
  }
  50% {
    content: "Cargando..";
  }
  75% {
    content: "Cargando...";
  }
}

.fondo-rojo{
   background-color: #9D2449 !important;
}

.fondo-rojo-o{
   background-color: rgba(157, 36, 73, 0.65) !important;
}

.fondo-dorado{ 
   background-color: #B38E5D !important;
}

.fondo-dorado-o{ 
   background-color: rgba(188, 150, 90, 0.65) !important;
}

.fondo-verde{
   background-color: #13322B !important;
}

.fondo-verde-o{
   background-color: rgba(19, 50, 43, 0.65) !important;
}

.fondo-negro{
   background-color: #2d2d2d !important;
}

.fondo-gradienteo-dorado{
  background: rgba(179,142,93,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(179,142,93,1) 0%, rgba(138,111,75,1) 44%, rgba(107,84,55,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(179,142,93,1)), color-stop(44%, rgba(138,111,75,1)), color-stop(100%, rgba(107,84,55,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(179,142,93,1) 0%, rgba(138,111,75,1) 44%, rgba(107,84,55,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(179,142,93,1) 0%, rgba(138,111,75,1) 44%, rgba(107,84,55,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(179,142,93,1) 0%, rgba(138,111,75,1) 44%, rgba(107,84,55,1) 100%);
  background: radial-gradient(ellipse at center, rgba(179,142,93,1) 0%, rgba(138,111,75,1) 44%, rgba(107,84,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b38e5d', endColorstr='#6b5437', GradientType=1 );
}

.fondo-gradiente-rojo{
  background: rgba(157,36,72,1);
  background: -moz-linear-gradient(left, rgba(157,36,72,1) 0%, rgba(99,26,49,1) 44%, rgba(66,15,31,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(157,36,72,1)), color-stop(44%, rgba(99,26,49,1)), color-stop(100%, rgba(66,15,31,1)));
  background: -webkit-linear-gradient(left, rgba(157,36,72,1) 0%, rgba(99,26,49,1) 44%, rgba(66,15,31,1) 100%);
  background: -o-linear-gradient(left, rgba(157,36,72,1) 0%, rgba(99,26,49,1) 44%, rgba(66,15,31,1) 100%);
  background: -ms-linear-gradient(left, rgba(157,36,72,1) 0%, rgba(99,26,49,1) 44%, rgba(66,15,31,1) 100%);
  background: linear-gradient(to right, rgba(157,36,72,1) 0%, rgba(99,26,49,1) 44%, rgba(66,15,31,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d2448', endColorstr='#420f1f', GradientType=1 );
}

.fondo-gradienteo-rojo{
  background: rgba(157,36,72,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(157,36,72,1) 0%, rgba(128,24,55,1) 44%, rgba(97,23,48,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(157,36,72,1)), color-stop(44%, rgba(128,24,55,1)), color-stop(100%, rgba(97,23,48,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(157,36,72,1) 0%, rgba(128,24,55,1) 44%, rgba(97,23,48,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(157,36,72,1) 0%, rgba(128,24,55,1) 44%, rgba(97,23,48,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(157,36,72,1) 0%, rgba(128,24,55,1) 44%, rgba(97,23,48,1) 100%);
  background: radial-gradient(ellipse at center, rgba(157,36,72,1) 0%, rgba(128,24,55,1) 44%, rgba(97,23,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d2448', endColorstr='#611730', GradientType=1 );
}

.fondo-gradienteh-rojo {
  background: rgba(71,0,12,1);
  background: -moz-linear-gradient(left, rgba(71,0,12,1) 0%, rgba(41,1,1,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,0,12,1)), color-stop(100%, rgba(41,1,1,1)));
  background: -webkit-linear-gradient(left, rgba(71,0,12,1) 0%, rgba(41,1,1,1) 100%);
  background: -o-linear-gradient(left, rgba(71,0,12,1) 0%, rgba(41,1,1,1) 100%);
  background: -ms-linear-gradient(left, rgba(71,0,12,1) 0%, rgba(41,1,1,1) 100%);
  background: linear-gradient(to right, rgba(71,0,12,1) 0%, rgba(41,1,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47000c', endColorstr='#290101', GradientType=1 );
}

.footer-mapa{  
   background-color: #212529;
}

.footer-aviso{
   color: #949da7;
   font-size: 12px;
}

.texto-rojo{
   color: #9D2449 !important;
}

.texto-dorado{ 
   color: #B38E5D !important;
}

.texto-verde{
   color: #13322B !important;
}

.texto-verde-o{
   color: #0C231E !important;
}

.borde-rojo{
   border-color: #9D2449 !important;
}

.borde-dorado{ 
   border-color: #B38E5D !important;
}

.borde-grueso{
   border-width: 0.2em !important;
   border-radius: 5em;
}

.boton-rojo{
   color: white;
   background-color: #9D2449 !important;
   border-color: #9D2449 !important;
}

.boton-dorado{ 
   color: white;
   background-color: #B38E5D !important;
   border-color: #B38E5D !important;
}

.boton-verde{
   color: white;
   background-color: #13322B !important;
   border-color: #13322B !important;
}

.boton-red-social{
	border-radius: 10%;
	color: white;
}

.boton-rojo:hover{
   background-color: #BF2C59 !important;
   border-color: #BF2C59 !important;
}

.boton-dorado:hover{ 
   background-color: #DEB16A !important;
   border-color: #DEB16A !important;
}

.boton-verde:hover{
   background-color: #1F5246 !important;
   border-color: #1F5246 !important;
}

.boton-bordes-rojos{
   color: #9D2449 !important;
   border-color: #9D2449 !important;
}

.boton-bordes-rojos:hover{
   color: #FFF !important;
   background-color: #9D2449 !important;
   border-color: #9D2449 !important;
}

.boton-bordes-dorados{
   color: #B38E5D !important;
   border-color: #B38E5D !important;
}

.boton-bordes-dorados:hover{
   color: #FFF !important;
   background-color: #B38E5D !important;
   border-color: #B38E5D !important;
}

.boton-bordes-verdes{
   color: #13322B !important;
   border-color: #13322B !important;
}

.boton-bordes-verdes:hover{
   color: #FFF !important;
   background-color: #13322B !important;
   border-color: #13322B !important;
}

.grupo-rojo{
   width: 100%;
   background-color: #9D2449 !important;
   border-color: #9D2449 !important;
   border-radius: 0.5em;
}

.grupo-dorado{ 
   width: 100%;
   background-color: #B38E5D !important;
   border-color: #B38E5D !important;
   border-radius: 0.5em;
}

.grupo-verde{
   width: 100%;
   background-color: #13322B !important;
   border-color: #13322B !important;   
   border-radius: 0.5em;
}

.grupo-rojo:hover{
   background-color: #9D2449 !important;
   border-color: #9D2449 !important;
   box-shadow: inset 0 0 20px #BF2C59, 0 0 20px #BF2C59;
}

.grupo-dorado:hover{
   background-color: #B38E5D !important;
   border-color: #B38E5D !important;
   box-shadow: inset 0 0 20px #DEB16A, 0 0 20px #DEB16A;
}

.grupo-verde:hover{
   background-color: #1F5246 !important;
   border-color: #1F5246 !important;
   box-shadow: inset 0 0 20px #1F5246, 0 0 20px #1F5246;
}

.boton-en-grupo {
   background-color: transparent !important;
   border-color: transparent !important;
}

.boton-en-grupo:focus{
   outline: none !important;
   box-shadow: none !important;
}

.boton-en-grupo:active{
   outline: none !important;
   box-shadow: none !important;
}

.boton-grupo-secundario{
   flex: 1 1 20% !important;
}

a {
   color: #9D2449;
}

a:hover {
   color: #B38E5D;
}

.nav-link.active {
  color: #B38E5D;
  font-weight: 750;
}

.nav-link.active:hover {
  color:  rgba(179, 142, 93, 0.8);
}

.sticky-top .nav-link{
  color: #dee2e6;
}

.sticky-top .nav-link:hover{
  color: #dddd;
  font-weight: 610;
}

.sticky-top .nav-link.active{
  color: #FFF;
}

input:active, input:focus, select:active, select:focus{
  outline: 0 !important;
  border-color: #9D2449 !important;
  box-shadow: 0 0 0 0.2rem rgba(157, 36, 73, 0.25) !important;
}

.nav-pills .nav-link {
  color: #B38E5D;
  font-weight: 600;
  background-color: rgba(255,255,255,0.5);
  margin-top: 1px;
  margin-bottom: 1px;  
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-pills .nav-link.active {
  background-color: #FFF;
  font-weight: 800;
  color: #B38E5D;
}

.nav-pills .nav-link:hover {  
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
  color: #9D2449;
}

.nav-pills .nav-link.texto-rojo:hover {  
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(255,0,0,0.75);
  color: #9D2449;
}

.nav-pills .nav-link.active:hover {
  color: #B38E5D;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0,0,0,0);
   border: 0;
}

.back-to-top{
   position: fixed; 
   top: 90vh;
   right: 25px;
   display: none;
   font-size: 42px;
   color: #9D2449;
   z-index: 10;
}

.back-to-top:hover{
   text-decoration: none;
   color: #000;
}

/* Estilo del Scrollbar */

::-webkit-scrollbar {
   width: 5px;
   height: 7px;
}
::-webkit-scrollbar-button {
   width: 0px;
   height: 0px;
}
::-webkit-scrollbar-thumb {
   background: #525965;
   border: 0px none #ffffff;
   border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
   background: #525965;
}
::-webkit-scrollbar-thumb:active {
   background: #525965;
}
::-webkit-scrollbar-track {
   background: transparent;
   border: 0px none #ffffff;
   border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
   background: transparent;
}
::-webkit-scrollbar-track:active {
   background: transparent;
}
::-webkit-scrollbar-corner {
   background: transparent;
}

.select2-container--default .select2-selection--single {
   display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
}

.custom-select:invalid + .select2 .select2-selection{
   border-color: #dc3545!important;
}
.custom-select:valid + .select2 .select2-selection{
   border-color: #28a745!important;
}

.fondo-1 {
  background-image: url('../img/cuadros.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  min-height: 100vh;
}

.tooltip > .tooltip-inner {
  background-color: #9D2449;
}

.bs-tooltip-left .arrow::before{
  border-left-color: #fff;
}

.bs-tooltip-right .arrow::before{
  border-right-color: #fff;
}

.bs-tooltip-bottom .arrow::before{
  border-bottom-color: #fff;
}

.bs-tooltip-top .arrow::before{
  border-top-color: #fff;
}

/* Imagen de perfil */
.picture-container{
  cursor: pointer;
}

.picture-src {
  border-radius: 10px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.picture-src {
  width: 100%;
}

.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture:hover {  
  border: 4px solid #9D2449;
  border-radius: 0.5rem; 
}

.sticky-top{
  margin: 0 !important;
  top: 0;
  left: 20%;
  position: fixed;
  text-align: center;
  background-color: rgba(5,5,5,0.5);
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: 68%;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content .sticky-top {
    left:20%;
  }
}

@media screen and (max-width: 1050px) {
  .page-wrapper.toggled .page-content .sticky-top {
    left: auto;
    width: 50%;
    right: 0;
  }
}

.dropdown-item.active, .dropdown-item:active{
  background-color: #B38E5D;
}

.dropdown-item.active {
  background-color: #9D2449;
}

select[multiple]:not(:focus) option:checked {
  background: linear-gradient(#c7b295, #c7b295);
}

select:focus option:checked {
  background-color: #9D2449;
  color: #FFFFFF;
}

select[multiple]:focus option:checked {
  background: linear-gradient(#9D2449, #9D2449);
  color: #FFFFFF;
}

select:focus option:hover {
  background-color: #c7b295;
}

select[multiple]:focus option:hover{
  background-color: #c7b295;
  background: linear-gradient(#c7b295, #c7b295);
}

.page-link{
  color: #9D2449;
}

.page-link:hover{
  color: #B38E5D;
}

.page-item.active .page-link{
  background-color: #c7b295;
  border-color: #c7b295;
}

.estadisticas{
  cursor: pointer;
}

.estadisticas:hover {  
   box-shadow: inset 0 0 10px #BF2C59, 0 0 10px #BF2C59 !important;
}

td.titulos-lote {
  vertical-align: middle;
  cursor: pointer;
  color: #9D2449;
  font-weight: 600;
  font-size: 18px;
}

td.titulos-lote > i:before {
  font-family: "Font Awesome 5 Free";
  content: "\f055";
}

tr.shown td.titulos-lote > i:before {
  color: #B38E5D;
  font-family: "Font Awesome 5 Free";
  content: "\f056";
}

.shown.dt-detalles{
  background-color: rgba(157, 36, 73, 0.45);
}

.shown.dt-detalles:hover{
  background-color: rgba(157, 36, 73, 0.70) !important;
  color: #FFF;
}

.dt-contenido-detalle thead tr:hover{
  color: #FFF !important;
}

.dt-contenido-detalle tbody tr:hover{
  background-color: rgba(157, 36, 73, 0.65) !important;
  color: #FFF !important;
}

.titulos-lote > i{
  transition: all 0.2s ease-in-out;
}

.titulos-lote > i:hover{
  transform: scale(1.2);
}

.form-control.cargando{
  border-color: #17a2b8 !important;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M440.65 12.57l4 82.77A247.16 247.16 0 0 0 255.83 8C134.73 8 33.91 94.92 12.29 209.82A12 12 0 0 0 24.09 224h49.05a12 12 0 0 0 11.67-9.26 175.91 175.91 0 0 1 317-56.94l-101.46-4.86a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12H500a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12h-47.37a12 12 0 0 0-11.98 12.57zM255.83 432a175.61 175.61 0 0 1-146-77.8l101.8 4.87a12 12 0 0 0 12.57-12v-47.4a12 12 0 0 0-12-12H12a12 12 0 0 0-12 12V500a12 12 0 0 0 12 12h47.35a12 12 0 0 0 12-12.6l-4.15-82.57A247.17 247.17 0 0 0 255.83 504c121.11 0 221.93-86.92 243.55-201.82a12 12 0 0 0-11.8-14.18h-49.05a12 12 0 0 0-11.67 9.26A175.86 175.86 0 0 1 255.83 432z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.observaciones{
  border-color: #ffc107!important;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.custom-control-label::before{
  border: rgb(148 117 127) solid 1px;
}

.custom-control-input:checked~.custom-control-label::before{
  color: #fff;
  border-color: #9d2449f0;
  background-color: #9d2449;
  border: rgb(148 117 127) solid 1px;
}

.custom-control-input:focus~.custom-control-label::before{
  box-shadow: 0 0 0 0.2rem #b38e5dd1;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before{
  color: #fff;
  border-color: #9d2449f0;
  background-color: #9d2449;
}

select,td {
  font-family: 'FontAwesome';
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

/* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(157, 36, 73, 0.4);
    -webkit-transition: all .275s;
        transition: all .275s;
  }

  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    font-family: 'FontAwesome';
    content: '\f00c';
    position: absolute;
    top: .58em;
    left: .18em;
    font-size: 1.15em;
    color: #9D2449;
    line-height: 0;
    -webkit-transition: all .2s;
        transition: all .2s;
  }

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
        transform: scale(0) rotate(45deg);
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
  }

  /* Disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
  }

  [type="checkbox"]:disabled:checked + label:after {
    color: #777;
  }

  [type="checkbox"]:disabled + label {
    color: #aaa;
  }

  /* Accessibility */
  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(157, 36, 73, 0.4);
  }

#menu-navegacion .nav-link:hover{
  background-color: rgba(157, 36, 73, 0.4) !important;
}
#menu-navegacion .nav-link.active:hover{
  background-color: rgba(157, 36, 73, 0.6) !important;
  color: #FFF;
}