#landing_jumbo {
	background-image: url('../img/fondo3.jpg');
	background-position: center;
	background-attachment: fixed;
	background-repeat: repeat;
	width: 100%
	height: auto;
}

.inicio-sesion {
	position: absolute;
   background-color: white;
   width: 400px;
   padding: 25px 25px 25px 25px;
   border-radius: 5px;
   z-index: 5;   
   top: 57px;
   right: 0;
}

.inicio-sesion.inicio-sesion-alt{
	background-color: #343a40!important;
	color: white !important;
	top: 49px;
}